
  <footer>
    <div class="container">
      <p>Powered by: <a href="http://softweb.pe/">Software Web Perú</a> © 2011-2018 </p>
    </div>
  </footer>
  <!-- Inicio Load_JS-->
  <%- helpers.loadJs(locals.jss) %>
  <!-- Fin JS-->
  </body>
</html>