logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
npm-debug.log
package-lock.json
bower_components
dist
.DS_Store
*.ods#
.~lock*
public/uploads
public/templates
tmp