html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 30px 30px 10px 30px;
  margin: 0 auto;
  background: #fdfdfd;
  border: 1px solid #cccccc;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.brand{
  margin-left: 20px;
}

.h3, .message{
	text-align: center;
}

.text-muted{
	font-size: 14px;
	text-align: center;
}

.text-muted > a {
	color: #4d4d4d !important;
	font-weight: 600;
}

.text-muted > a:hover{
	color: var(--secondary-color) !important;
}

.select2-container {
	width: 100% !important;

}

.select2-container .select2-selection--single {
  height: 46px !important;
	padding-top: 10px;
	padding-left: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
	color: #706f7f;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 12px;
}

.select2-container--default .select2-selection--single{
	border-radius: 0px;
	border: 1px solid #c5cbd0;
}

button, input[type=text], input[type=password], input[type=email]{
  border-radius: 0px !important;
}

button{
  margin-bottom: 10px;
  margin-top: 20px;
}

h1 {
  font-size: 18px !important;
}

button, input[type=text], input[type=password], input[type=email] {
  font-size: 12px !important;
}

a, p {
  font-size: 12px !important;
}